* {
    /*
    La propiedad box-sizing en CSS controla cómo se calcula el tamaño
    total de un elemento. Determina si el ancho y la altura declarados 
    incluyen el relleno (padding) y el borde (border) o no. 
    En otras palabras, decide si el elemento se ajusta a sus dimensiones 
    declaradas (content-box) o si el padding y el border se suman a esas dimensiones
    (border-box).  
     */
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-size: 24px;
    line-height: 2;
    background-color: black;
    color: white;
}

.contenedor {
    max-width: 960px;
    margin: 100px auto;
    /* creamos el grid */
    outline: 8px solid yellow;
    background-color: aqua;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    /* el minmax() se usa para un valor minimo y uno maximo 
    ejem: grid-template-coluns: minmax(*/
    /* auto fill se usa para llenar la fila de tantas columnas como puedan caber*/
    /* auto-fit las ajusta en el espacio disponible */
    /* grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); */

    

}

.parte {
    background-color: red;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    padding: 22px;
    border: pink 2px solid;

    text-align: center;
    border-radius: 8px;
    font-size: 2em;
    cursor: pointer;
}

.parte:hover {
    color: black;
}

.parte-1 {
    background-color: rgb(109, 0, 0);
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}

.parte-2 {
    background-color: rgb(95, 209, 29);
}

.parte-3 {
    background-color: rgb(238, 255, 0);
}

.parte-4 {
    background-color: rgb(255, 0, 255);
}

.parte-5 {
    background-color: rgb(0, 217, 255);
}

.parte-6 {
    background-color: tomato;
}

.parte-7 {
    background-color: chocolate;
}

.parte-8 {
    background-color: fuchsia;
}

.parte-9 {
    background-color: brown;
}

